<h3 id="c-custom-title"><span>Private Reception with Dinner &amp; Dancing</span></h3>
<div id="c-custom-container">
<div class="c-intro"><p>Following the ceremony and dessert reception at the church, you are joyfully invited to continue celebrating with the happy couple. Please join Ken and Renée at a private venue for dinner and dancing.</p>
<p>Please click <%= link_to('here', new_reservation_path) %> to RSVP for the dinner reception at Freedom Hall &amp; Gardens.</p>
<p>Cocktail hour begins at 6:30 p.m.<br>
Dinner begins at 7:30 p.m.</p></div>	<div class="c-odd">
		<div class="c-subtitle">
			<h4>Freedom Hall &amp; Gardens</h4>
		</div>
		<div class="c-info">
			<p class="c-address">3910 Freedom Circle</p>
			<p class="c-city">Santa Clara, California 95054</p>
			<p class="c-phone">408-727-3733</p>
			<p class="c-map"><a href="https://www.google.com/maps/place/The+Freedom+Hall+%26+Gardens/@37.388097,-121.971864,17z/data=!3m1!4b1!4m2!3m1!1s0x808fca45983ea8e7:0xcdd9fc621bdbec68?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Hotel Accommodations near Freedom Hall &amp; Gardens</h4>
		</div>
		<div class="c-info">
		</div>
		<div class="c-text">
			<p>For the comfort and convenience of our guests, we have reserved a block of rooms at <%= link_to('Avatar Hotel', accommodations_path) %> and <%= link_to('Marriott', accommodations_path) %>. Both hotels are within 15 minutes of Sunnyvale Presbyterian Church and 5 minutes of Freedom Hall &amp; Gardens.</p>
			<p>Click on <%= link_to('Accommodations', accommodations_path) %> to view special rates and booking instructions.</p>
		</div>
	</div>
	<div class="c-odd">
		<div class="c-subtitle">
			<h4>Avatar Hotel</h4>
		</div>
		<div class="c-photo">
			<%= image_tag('avatarProximityToFreedomHall.jpg', alt:'Avatar Hotel')%></div>
		<div class="c-info">
			<p class="c-map"><a href="https://www.google.com/maps/dir/Avatar+Hotel+-+a+Joie+de+Vivre+Hotel,+4200+Great+America+Pkwy,+Santa+Clara,+CA+95054/The+Freedom+Hall+%26+Gardens,+3910+Freedom+Circle,+Santa+Clara,+CA+95052-0027/@37.3900644,-121.974672,17z/data=!4m14!4m13!1m5!1m1!1s0x808fc9c23f13f4ed:0xa1670476e196cc98!2m2!1d-121.97714!2d37.391569!1m5!1m1!1s0x808fca45983ea8e7:0xcdd9fc621bdbec68!2m2!1d-121.971864!2d37.388097!3e0?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>Proximity to Freedom Hall &amp; Gardens:<br>
			- 4 minutes driving<br>
			- 12 minutes walking</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Marriott Santa Clara</h4>
		</div>
		<div class="c-photo">
			<%= image_tag('marriottProximityToFreedomHall.jpg', alt:'Marriott Santa Clara')%></div>
		<div class="c-info">
			<p class="c-map"><a href="https://www.google.com/maps/dir/Santa+Clara+Marriott,+2700+Mission+College+Blvd,+Santa+Clara,+CA+95054/The+Freedom+Hall+%26+Gardens,+3910+Freedom+Circle,+Santa+Clara,+CA+95052-0027/@37.3892451,-121.9738194,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x808fc9c22c1f2e65:0x19676fb4c9784b45!2m2!1d-121.973841!2d37.390708!1m5!1m1!1s0x808fca45983ea8e7:0xcdd9fc621bdbec68!2m2!1d-121.971864!2d37.388097!3e0?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>Proximity to Freedom Hall &amp; Gardens<br>
			- 2 minutes driving<br>
			- 6 minutes walking</p>
		</div>
	</div>
</div>

		</div>
	</div>

