<h3 id="c-party-title" class="c-title"><span>Wedding Party</span></h3>
<div id="c-party-container" class="c-container">
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Christi Kinsella</h4>
			<h5>Maid of Honor</h5>
		</div>
			<div class="c-photo">
				<%= image_tag("christi.jpg", alt: "Christi Kinsella") %>
			</div>
			<div class="c-text">
			<p>Christi is Renée's younger sister. They began as sisters do, with the younger one following around the older one and being shooed away at every turn. (Renée wishes she'd known when she was younger what a special person a sister is! But when you're showing off for friends, a baby sister doesn't seem so cool.) :)  As they grew into adulthood, they realized how much fun they had together and how much they make each other laugh; they now share a very close friendship.</p>
		</div>
	</div>
	<div class="c-odd">
			<div class="c-subtitle">
			<h4>Stephanie Pansini</h4>
			<h5>Bridesmaid</h5>
		</div>
			<div class="c-photo">
			<%= image_tag("steph.jpg", alt: "Stephanie Pansini") %></div>
			<div class="c-text">
			<p>Stephanie and Renée have been friends since they were 13 and have seen each other through a great many life events. We're talking boy band crushes, crazy road trips to Las Vegas, photography safaris in D.C., and more. It's been a wild ride! Oh yeah, and they share the same weird sense of humor. (Renée gave her that birthday card...)</p>
		</div>
	</div>
	<div class="c-even">
			<div class="c-subtitle">
			<h4>Jenny Wharram</h4>
			<h5>Bridesmaid</h5>
		</div>
			<div class="c-photo">
				<%= image_tag("jenny.jpg", alt: "Jenny Wharram") %></div>
			<div class="c-text">
				<p>Jenny and Renée became immediate friends upon their first meeting. They both share the same values grown from mid-western family roots and they enjoy bickering like sisters. They've been on vacations and stay-cations alike, from camping and kayaking in the Bahamas to lounging in pj's at home for movie marathons. They've made a lot of memories in only a handful of years...and Jenny was there the night Renée met Ken!</p>
			</div>
	</div>
	<div class="c-odd">
			<div class="c-subtitle">
				<h4>Nichole Cupps</h4>
				<h5>Bridesmaid</h5>
			</div>
			<div class="c-photo">
				<%= image_tag("nichole.jpg", alt: "Nichole Cupps") %></div>
			<div class="c-text">
				<p>Nichole and Renée met at a Halloween party where they bonded over impressions of Stuart from the old tv show "MADtv." And, even though Renée was insanely late for their first lunch together (shock!), Nichole still gave Renée a chance. :)  Nichole is like family to the bride and groom, and she played a significant role in their engagement.</p>
			</div>
	</div>
	<div class="c-even">
			<div class="c-subtitle">
				<h4>Andrea Wigginton</h4>
				<h5>Ceremony Soloist</h5>
			</div>
			<div class="c-photo">
				<%= image_tag("andrea.jpg", alt: "Andrea Wigginton") %></div>
			<div class="c-text">
				<p>Andrea is Ken's younger sister and is going to share her amazing gift of voice at the wedding ceremony. Andrea has been singing since she was very young and follows in her mother's footsteps when it comes to her love of music. Ken and Renée are excited to have Andrea play such a special part as they exchange vows. And Renée looks forward to having a second sister!</p>
			</div>
	</div>
	<div class="c-odd">
			<div class="c-subtitle">
				<h4>Chris Gregory</h4>
				<h5>Best Man</h5>
			</div>
			<div class="c-photo">
				<%= image_tag("chrisg.jpg", alt: "Chris Gregory") %></div>
			<div class="c-text">
				Ken's oldest friend, Chris and Ken both met at the age of 10 at Central Christian Church.  They hit it off immediately.  Since joining forces, they have shared many long nights of video games, music writing, and just hanging out.  Together Ken and Chris have written and recorded several songs.  As the best man at Chris's wedding, Ken met Renée and well, the rest is history!
			</div>
	</div>
	<div class="c-even">
			<div class="c-subtitle">
				<h4>Nathan Hochhalter</h4>
				<h5>Groomsman</h5>
			</div>
			<div class="c-photo">
				<%= image_tag("nathan.jpg", alt: "Nathan Hochhalter") %></div>
			<div class="c-text">
			Nathan and Renée have been friends since they were both 7 years old which means they have seen each other through every significant milestone in their lives. Renée was ecstatic when Ken and Nathan also found a friendship, and it was a great moment when Ken asked Nathan to stand up at the wedding.
			</div>
	</div>
	<div class="c-odd">
			<div class="c-subtitle">
				<h4>Christopher Burnor</h4>
				<h5>Groomsman</h5>
			</div>
			<div class="c-photo">
				<%= image_tag("chrisb.jpg", alt: "Christopher Burnor") %></div>
			<div class="c-text">
			Chris and Ken met when they helped Renée move in August, 2011.  Since then, they've been great friends who enjoy sharing deeply intellectual conversations, a good scotch, and the pursuit of their tech dreams.
			</div>
	</div>
	<div class="c-even">
			<div class="c-subtitle">
				<h4>Keith Kinsella</h4>
				<h5>Groomsman</h5>
			</div>
			<div class="c-photo">
				<%= image_tag("keith.jpg", alt: "Keith Kinsella", id: "c-keith") %></div>
			<div class="c-text">
				<p>Keith is Renée's brother, and though there was much antagonizing when they were younger, these two siblings became good friends. Belaying for each other while rock climbing was a powerful experience as teens and Renée discovered how lucky she is to have Keith for a brother. And since Ken and Keith only have sisters, they'll each finally have a brother!</p>
			</div>
</div>