<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="c-form">
  <div class="field">
    <%= f.label :name, 'Full Name' %><br />
    <%= f.text_field :name, class: 'c-input-text' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: 'c-input-text' %>
  </div>
	<div class="field">
		<%= f.label :attending, 'Will you be attending?'%>
		<%= f.select :attending, {"Yes, with pleasure" => true, "No, with regrets" => false} %><br /><br />
	</div>
	<div class="hidden-fields">
	  <div class="field">
	    <%= f.label :attendees, 'Number of attendees including yourself:' %><br />
	    <%= f.number_field :attendees, class: 'c-input-text' %>
	  </div>
		<div class="field">
			<%= f.label :attendee_names, "Full names of attendees (separated by comma):" %><br />
			<%= f.text_area :attendee_names %>
		</div>
		<div class="field">
			<%= f.label :childcare, 'I need child care during the ceremony:' %>
			<%= f.check_box :childcare %>
	  </div>
	</div>
    <%= f.submit 'Send RSVP'%>
  </div>
</div>

<script type="text/javascript">
	$('#reservation_attending').change( function(){
		var thisdd = $(this);

		if ( $('#reservation_attending option:selected').text() == "Yes, with pleasure" ) {
			$('.hidden-fields').show();
		} else {
			$('.hidden-fields').hide();
		}
	});
	$("#reservation_attendees").change( function(event) {
		var thisfield = $(this);
		
		if ( thisfield.val() < 0 ) {
			thisfield.val(0);
		}
	});
	$('#reservation_attending').change( function(){
		var thisdd = $(this);

		if ( $('#reservation_attending option:selected').text().indexOf('Yes') != -1 ) {
			$('.hidden-fields').show();
		} else {
			$('.hidden-fields').hide();
		}
	});
</script>
<% end %>
