<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="c-form">
  <div class="field">
    <%= f.label :name, 'Full Name' %><br />
    <%= f.text_field :name, class: 'c-input-text' %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: 'c-input-text' %>
  </div>
	<div class="field">
		<%= f.label :attending, 'I will be attending:'%>
		<%= f.select :attending, {"Yes" => true, "No" => false} %>
	</div>
	<div class="hidden-fields">
	  <div class="field">
	    <%= f.label :attendees, 'Number of attendees' %><br />
	    <%= f.number_field :attendees, class: 'c-input-text' %>
	  </div>
		<div class="field">
			<%= f.label :childcare, 'I need child care during the ceremony:' %>
			<%= f.check_box :childcare %>
	  </div>
	  <div class="field">
	    <%= f.label :roomaccomodation, 'I need hotel accommodations during my stay:' %>
			<%= f.check_box :roomaccomodation %>
		</div>
	</div>
    <%= f.submit %>
  </div>
</div>

<script type="text/javascript">
	$('#reservation_attending').change( function(){
		var thisdd = $(this);

		if ( $('#reservation_attending option:selected').text() == "Yes" ) {
			$('.hidden-fields').show();
		} else {
			$('.hidden-fields').hide();
		}
	});
</script>
<% end %>
