<h1>Listing reservations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Attendees</th>
		<th>Childcare?</th>
    <th>Attending?</th>
    <th></th>
    <th></th>
  </tr>

<% attendeesTotal = 0
@reservations.each do |reservation|
	attendeesTotal += reservation.attendees %>
  <tr>
    <td><%= reservation.name %></td>
    <td><%= reservation.email %></td>
    <td><%= reservation.attendees %></td>
		<td><%= reservation.childcare == nil ? "False" : reservation.childcare %></td>
		<td><%= reservation.attending ? 'No' : 'Yes' %></td>
    <td><%= link_to 'Show', reservation %></td>
    <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
    <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<p><small>In total, we have <%= pluralize(attendeesTotal, 'attendee') %></small></p>

<br />

<%= link_to 'New Reservation', new_reservation_path %>
