<!DOCTYPE html>
<html>
<head>
	<title>The Wedding Site of Renée &amp; Kenneth</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "all" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-48787889-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="t-container">
		<div id="t-header">
			<h1><span></span></h1>
			<h2><span></span></h2>
			<div id="t-header-image"><%= image_tag("header.jpg", alt: "Renée Kinsella &amp; Kenneth Wigginton" ) %></div>
		</div>
		<div id="t-center">
			<div id="t-links">
				<ul>
					<li id="l-home"><%= link_to "Home Page", :welcome %></li>
 					<li id="l-party"><%= link_to "Wedding Party", :party %></li>
					<li id="l-events"><%= link_to "Wedding Events", :events %></li>
					<li id="l-childcare"><%= link_to "Child Care Needs", :childcare %></li>
					<li id="l-parents"><%= link_to "Our Parents", :parents %></li>
					<li id="l-attractions"><%= link_to "Attractions", :attractions %></li>
					<li id="l-rsvp"><%= link_to "RSVP", :reservations %></li>
					<li id="l-registry"><%= link_to "Gift Registries", :registry %></li>
					<li id="l-guestbook"><%= link_to "Guestbook", :guestbookposts %></li>
				</ul>
			</div>
			<div id="t-content">
				<%= yield %>
			</div>
			<div id="t-footer">
				<a href="http://www.storkie.com/p-130567-hedgehog-love.aspx" target="_blank" rel="nofollow">Design by Storkie</a>
				<% if is_logged_in? %>
				<%= link_to "Sign Out", logout_path, :method => :delete %>
				<% end %>
			</div>

		</body>
		</html>
