<h3 id="c-attractions-title" class="c-title"><span>Attractions</span></h3>
<div id="c-attractions-container" class="c-container">
<div class="c-intro"><p>There are SO many things to do in the Bay Area, it's hard to choose which sites to see first. Of course the big draw is adventuring in San Francisco: Golden Gate Bridge, the Painted Ladies (the homes featured in the opening credits of the tv show Full House), Pier 39, Fisherman's Wharf...so much to do! There's also the option to have a relaxing day at the beach or head up to wine country (Napa and Sonoma) for wine tasting and restaurants to die for. Happy hunting!</p></div>	<div class="c-odd">
		<div class="c-subtitle">
			<h4>Golden Gate Bridge</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("goldengate.jpg", alt: "Golden Gate Bridge") %></div>
				<div class="c-info">
			<p class="c-city">San Francisco, 1 hour northwest of Sunnyvale </p>
			<p class="c-link"><a href="http://www.goldengatebridge.org/" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Golden+Gate+Bridge/@37.8198781,-122.4785041,17z/data=!3m1!4b1!4m2!3m1!1s0x808586deffffffc3:0xcded139783705509?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>With its tremendous 746-foot tall towers, sweeping main cables, signature International Orange color, and Art Deco styling, it is a sensory experience featuring color, light, and sound.</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Hiking at Rancho San Antonio</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("rancho.jpg", alt: "Hiking at Rancho San Antonio") %></div>
				<div class="c-info">
			<p class="c-phone">15 minutes from Sunnyvale</p>
			<p class="c-city">Cupertino </p>
			<p class="c-link"><a href="http://www.openspace.org/preserves/pr_rancho_san_antonio.asp" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Rancho+San+Antonio+County+Park/@37.3336191,-122.0859664,17z/data=!3m1!4b1!4m2!3m1!1s0x808fb3f9313c425b:0x808435f2a8ac8780?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>This is where we had our first date! It's a beautiful area to hike with both flat and steep trails to choose from. Some trails are in the sun, and some are in the woods. We often see wild deer, turkeys, and more. If you choose to hike up to the top, you'll get a great view of the Bay Area. A highlight is the little Deer Hollow Farm. <a href="http://www.openspace.org/activities/deer_hollow_farm.asp" rel="nofollow" target="_blank">http://www.openspace.org/activities/deer_hollow_farm.asp</a>   If you've got a couple hours, give it go!</p>
		</div>
	</div>
	<div class="c-odd">
		<div class="c-subtitle">
			<h4>Sonoma - Wine Country</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("sonoma.jpg", alt: "Sonoma - Wine Country") %></div>
				<div class="c-info">
			<p class="c-phone">1 hr. 40 min. from Sunnyvale</p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Sonoma+Plaza/@38.2938657,-122.4588208,17z/data=!4m2!3m1!1s0x0:0xa58ca924d45756e1" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>Sonoma is a lot more low key and smaller than Napa which is great if you're not wanting to deal with a lot of other tourists. If you head up to Sonoma, make sure you have lunch or dinner at The Girl & The Fig. It's one of our favorites.</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Napa Valley - Wine Country</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("napa.jpg", alt:"Napa Valley - Wine Country") %></div>
				<div class="c-info">
			<p class="c-phone">1 hr. 40 min. from Sunnyvale</p>
			<p class="c-link"><a href="http://napavalley.com/" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/dir/Sunnyvale,+CA/Napa+Valley,+CA/@37.8946307,-122.6884303,9z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x808fb645a9d05d3b:0x768dfb26dd7cc3a2!2m2!1d-122.0363496!2d37.36883!1m5!1m1!1s0x808454f53baeb1ad:0x863a3784a09da6e3!2m2!1d-122.3943299!2d38.4274315" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>Highlights in Napa:<br>
			1. Castello di Amorosa - Built to look like a castle. <a href="http://www.castellodiamorosa.com/" rel="nofollow" target="_blank">www.castellodiamorosa.com/</a><br>
			2. Sterling Vineyards - <a href="http://www.sterlingvineyards.com" rel="nofollow" target="_blank">www.sterlingvineyards.com</a>. Visitors to the winery take a short cable car ride from the main entrance to the villa and distillery which sits upon a hill looking over the Napa Valley.<br>
			3. Jarvis Winery - Built into a massive cave. <a href="http://www.jarviswines.com" rel="nofollow" target="_blank">www.jarviswines.com</a><br>
			4. St. Helena - For the chocolate lover: Woodhouse Chocolates!</p>
		</div>
	</div>
	<div class="c-odd">
		<div class="c-subtitle">
			<h4>Pier 39</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("pier39.jpg", alt: "Pier 39") %></div>
				<div class="c-info">
			<p class="c-city">San Francisco, 45 minutes northwest of Sunnyvale </p>
			<p class="c-link"><a href="http://www.pier39.com/" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/place/PIER+39/@37.8097271,-122.4102214,18z/data=!3m1!4b1!4m2!3m1!1s0x808580fc8bb3211d:0xbaf631600de6b39e?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>PIER 39 is a 45-acre waterfront complex that is a gathering place for millions of San Francisco locals and visitors. PIER 39 is known for its spectacular views of San Francisco Bay including the Golden Gate Bridge, Bay Bridge and Alcatraz, as well as the world famous California sea lions hauled out on K-Dock.</p>
		</div>
	</div>
	<div class="c-even">
		<div class="c-subtitle">
			<h4>Santa Cruz Beach Boardwalk</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("santacruz.jpg", alt: "Santa Cruz Beach Boardwalk") %></div>
				<div class="c-info">
			<p class="c-phone">45 minutes south of Sunnyvale</p>
			<p class="c-link"><a href="http://www.beachboardwalk.com/" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Santa+Cruz+Beach+Boardwalk/@36.9628556,-122.0189707,17z/data=!3m1!4b1!4m2!3m1!1s0x808e40195645ec51:0x903bdc909334fa5?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>One of the last of the great seaside amusement parks remaining in the United States and home to two National Historic Landmarks – the 1911 Looff Carousel and 1924 Giant Dipper wooden roller coaster. The entire property is also a State Historic Landmark.</p>
		</div>
	</div>
	<div class="c-odd">
		<div class="c-subtitle">
			<h4>Half Moon Bay Pumpkin Festival</h4>
		</div>
				<div class="c-photo">
			<%= image_tag("pumpkinfest.jpg", alt: "Half Moon Bay Pumpkin Festival") %></div>
				<div class="c-info">
			<p class="c-phone">Sunday, October 19, 2014</p>
			<p class="c-address">45 minutes northwest of Sunnyvale</p>
			<p class="c-link"><a href="http://pumpkinfest.miramarevents.com/" target="_blank" rel="nofollow">View Website</a></p>
			<p class="c-map"><a href="https://www.google.com/maps/place/Half+Moon+Bay,+CA/@37.4737399,-122.4472172,13z/data=!3m1!4b1!4m2!3m1!1s0x808f0ba50a19cb0b:0x5efd9cc835e79b54?hl=en" target="_blank" rel="nofollow">View Map</a></p>
		</div>
		<div class="c-text">
			<p>World Pumpkin Capital of Half Moon Bay celebrates its bountiful fall harvest and autumn splendor with a special display of gigantically enormous/heavyweight champion pumpkins, smashing entertainment with three stages of stellar live music, harvest-inspired crafts, homestyle foods, expert pumpkin carver Farmer Mike sculpting a monster 1,200+ pound pumpkin into a one-of-a-kind masterpiece, and photos with the grand champion mega-gourd.</p>
		</div>
	</div>
</div>

		</div>
	</div>